body {
    background-color: #2B303B;
    font-family: futura;
}

#page-title {
    font-family: 'Palatino Linotype';
    color: #eee;
}

form {
    width: 100%;
    text-align: center;


    #like-button {
        width: 20%;
        height: 5em;
        background-color: #eee;
        margin: 4em;
        border-radius: 25px;
        font-weight: bold;
        font-size: 2em;
        box-shadow: 2px 2px #111;

    }
}

#reset-div {

    text-align: center;

    #reset-button {
        width: 20%;
        height: 5em;
        background-color: #4485F3;
        text-align: center;
        margin: 3em;
        border-radius: 25px;
        font-weight: bold;
        color: #fff;
        font-size: 2em;
        box-shadow: 2px 2px #111;
    }
}

