body {
  background-color: #2B303B;
  font-family: "Input Mono";
  text-align: center; }

#page-title {
  padding: 50px;
  font-size: 36px;
  color: #eee; }

.start-button {
  color: #eee;
  background-color: #4485F3;
  width: 250px;
  height: 84px;
  margin: 60px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 2px 2px #111; }

form {
  width: 100%; }
  form .like-button {
    width: 250px;
    height: 84px;
    background-color: #eee;
    margin: 60px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 2px 2px #111; }

#reset-div #reset-button {
  width: 250px;
  height: 84px;
  background-color: #4485F3;
  text-align: center;
  margin: 60px;
  border-radius: 20px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  box-shadow: 2px 2px #111; }
